<div class="p-5 bg-primary text-white text-center">
    <h1>Bus Booking Service</h1>
    <p>daily buses with affordable prices</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="customer">Start Booking (Customer Portal)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="buses">Buses (Admin Portal)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bookings">Bookings (Admin Portal)</a>
        </li>
      </ul>
    </div>
  </nav>
  
<router-outlet></router-outlet>

<div class="mt-5 p-4 bg-dark text-white text-center">
    <h3>Bus Booking Service</h3>
    <p>1111 ABCD St, Houston TX 77777</p>
    <p>123 - 456 - 7890</p>
    <p>contacts@busbooking.com</p>
</div>